
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="float: right; font-size: 13pt; font-weight: 500;">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Works</a>
        <a class="nav-item nav-link active" href="#">Blog</a>
        <a class="nav-item nav-link active" href="#">Contact</a> 
      </div>
    </div>
  </nav><div style="padding: 6%; width: 100%; border-color: #125699; align-content: center;"> 
    <table>
      <tr>
        <td width="50%"><h1>Hi I'm Arfi, </h1> 
          <div style="">
            <h1>Creative Technologist</h1>
            <p  style="width:100%; margin-top: 20px; margin-bottom: 20px; font-size: 10pt;">AHSBHAS nkwj ewguygyw h bnfwkjn hjrwbhj whjwberhj bkhrw gjbv hfbrwhj vgjhwr fSB HUASBIH BNASKASIH BHU ABHAS BIHB ASHBAHS BHAB IHB AIBN KHSABH SABIHN ASJKHJ ASBA</p>  
          </div>
          </td>
        <td width="5%" ><img src="assets/me.jpg" style="border-radius: 50%; margin-left: 10%;" width="200px"></td>
      </tr>
      <tr colspan="2">
        <button class="btn " style="border-radius: 0; background: hsla(346, 100%, 74%, 1);" 
        [ngClass]="{'red-text' : isButtonError}"
        [ngStyle]="{'background-color' : bgColor, 'color' : textColor}" 
        (click)="onInit()">Download Resume</button>
      </tr>
    </table>
  </div>